@font-face {font-family:"ToyotaDisplay"; src:url("../fonts/toyotadisplay_rg-webfont.eot"); src:url("../fonts/toyotadisplay_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/toyotadisplay_rg-webfont.woff") format("woff"), url("../fonts/toyotadisplay_rg-webfont.ttf") format("truetype"), url("../fonts/toyotadisplay_rg-webfont.svg#toyota_displayregular") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"ToyotaDisplay"; src:url("../fonts/toyotadisplay_bd-webfont.eot"); src:url("../fonts/toyotadisplay_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/toyotadisplay_bd-webfont.woff") format("woff"), url("../fonts/toyotadisplay_bd-webfont.ttf") format("truetype"), url("../fonts/toyotadisplay_bd-webfont.svg#toyota_displaybold") format("svg"); font-weight:bold; font-style:normal}

html {min-width:640px; height:100%}
body {min-width:640px; height:100%; margin:0; padding:0; font:14px/20px ToyotaDisplay, helvetica, sans-serif; color:#4d4f53; background:#f4f5f6}

a {color:#626468; text-decoration:none; outline:none}
a:hover {color:#d30f37}
a:active {color:#585858}

img {border:none}

.wrapper {min-width:640px; width:100%; min-height:100%; position:relative; overflow:hidden; background:url(../images/bg.png)}

.menu-mobile {display:none; width:55px; height:34px; background:url(../images/menu-mobile.png); position:fixed; left:140px; top:34px; z-index:20}
@media (max-width:1000px) {
    .menu-mobile.active {display:block}
    .menu-mobile.with-submenu {left:385px}
    .menu-mobile-hidden .menu-mobile {left:30px}
}

header {height:79px; background:#f1f1f1; border-bottom:1px solid #d6d6d6; position:relative; z-index:2}
header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

@media (max-width:1000px) {
    header {display:none; height:100%; border-bottom:none; position:fixed; left:0; top:405px; z-index:20}
    header.active {display:block}
    .menu-mobile-hidden header {display:none}
}

.header-menu {float:left; margin:0; padding:0; list-style:none}
.header-menu li {float:left; margin:0; padding:0}
.header-menu a {display:block; width:111px; height:66px; padding:13px 0 0 0; text-align:center; font-size:9px; text-transform:uppercase}
.header-menu a:before {content:""; display:block; width:35px; height:35px; margin:0 auto 4px auto; background:url(../images/header-menu.png)}
.header-menu a.header-menu-clear:before {background-position:left top}
.header-menu a.header-menu-clear:hover:before {background-position:left -35px}
.header-menu a.header-menu-back:before {background-position:-35px top}
.header-menu a.header-menu-back:hover:before {background-position:-35px -35px}
.header-menu a.header-menu-next:before {background-position:-70px top}
.header-menu a.header-menu-next:hover:before {background-position:-70px -35px}
.header-menu a.header-menu-inc:before {background-position:-105px top}
.header-menu a.header-menu-inc:hover:before {background-position:-105px -35px}
.header-menu a.header-menu-dec:before {background-position:-140px top}
.header-menu a.header-menu-dec:hover:before {background-position:-140px -35px}
.header-menu a.header-menu-help:before {background-position:-175px top}
.header-menu a.header-menu-help:hover:before {background-position:-175px -35px}
.header-menu a:active {background:#ebebeb}

@media (max-width:1000px) {
    .header-menu {float:none}
    .header-menu li {float:none}
    .header-menu a {width:110px}
    .header-menu a.header-menu-inc {display:none}
    .header-menu a.header-menu-dec {display:none}
}

.logo {float:right; line-height:0; padding:12px 0 0 22px; height:67px; border-left:1px solid #d6d6d6; width:200px}

@media (max-width:1000px) {
    .logo {display:none}
}

.wrapper-inner {display:table; width:100%; background:url(../images/bg-top.png) repeat-x center top}

@media (max-width:1000px) {
    .wrapper-inner {display:block}
}

.menu {display:table-cell; vertical-align:top; background:#626468; position:relative; width:110px}
.menu ul {margin:0; padding:0; list-style:none; width:110px}
.menu li {margin:0; padding:0; position:relative}
.menu li.active:before {content:""; display:block; width:30px; height:30px; position:absolute; right:-15px; top:-15px; background:url(../images/menu-corners.png); z-index:3}
.menu li.active:first-child:before {display:none}
.menu li.active:last-child:before {display:none}
.menu li.active:after {content:""; display:block; width:30px; height:30px; position:absolute; right:-15px; bottom:-15px; background:url(../images/menu-corners.png) left -30px; z-index:3}
.menu li.active:last-child:after {display:none}
.menu a {display:block; font-size:10px; line-height:12px; text-transform:uppercase; color:#f4f5f6; text-align:center}
.menu a.menu-bg {height:82px; padding:26px 0 0 0; background:url(../images/menu-bg.png) no-repeat 1000px 1000px}
.menu a.menu-auto {height:83px; padding:26px 0 0 0; background:url(../images/menu-auto.png) no-repeat 1000px 1000px}
.menu a.menu-text {height:71px; padding:25px 0 0 0; background:url(../images/menu-text.png) no-repeat 1000px 1000px}
.menu a.menu-send {height:69px; padding:23px 0 0 0; background:url(../images/menu-send.png) no-repeat 1000px 1000px}
.menu a:before {content:""; display:block; width:39px; height:30px; background:url(../images/menu.png); margin:0 auto}
.menu a.menu-bg:before {background-position:left top; margin-bottom:10px}
.menu a.menu-bg:hover:before {background-position:left -30px}
.menu li.active a.menu-bg:before,
.menu li.disable a.menu-bg:before {background-position:left top}
.menu a.menu-auto:before {background-position:-39px top; margin-bottom:6px}
.menu a.menu-auto:hover:before {background-position:-39px -30px}
.menu li.active a.menu-auto:before,
.menu li.disable a.menu-auto:before {background-position:-39px top}
.menu a.menu-text:before {background-position:-78px top; margin-bottom:4px}
.menu a.menu-text:hover:before {background-position:-78px -30px}
.menu li.active a.menu-text:before,
.menu li.disable a.menu-text:before {background-position:-78px top}
.menu a.menu-send:before {background-position:-117px top; margin-bottom:5px}
.menu a.menu-send:hover:before {background-position:-117px -30px}
.menu li.active a.menu-send:before,
.menu li.disable a.menu-send:before {background-position:-117px top}
.menu a:hover {color:#d30f37}
.menu a:active {color:#fff}
.menu li.active a {color:#f4f5f6; background-color:#4d4f53; background-position:left top; position:relative}
.menu li.active a:after {content:""; display:block; width:15px; height:100%; position:absolute; left:100%; top:0; background:#4d4f53; z-index:2}
.menu li.active a.menu-send:after {display:none}
.menu li.disable a {opacity:.2; cursor:default; color:#f4f5f6}

@media (max-width:1000px) {
    .menu {display:none; position:fixed; left:0; top:0; z-index:19; height:100%; padding-bottom:80px}
    .menu.active {display:block}
    .menu-mobile-hidden .menu.active {display:none}
}

.submenu {display:block; position:absolute; left:-9999px; top:-9999px; vertical-align:top; width:245px; background:#4d4f53 url(../images/submenu.png)}
.submenu.active {display:table-cell; position:relative; left:auto; top:auto}

@media (max-width:1000px) {
    .submenu.active {display:block; left:110px; top:0; position:fixed; z-index:1; padding-bottom:80px}
    .menu-mobile-hidden .submenu {left:-9999px}
}

.submenu-content {position:absolute; left:-9999px; top:-9999px; width:245px}
.submenu-content.active {position:relative; left:auto; top:auto}

.submenu-list {position:relative; width:240px; overflow:auto}
.submenu-list-content {width:235px}

.submenu-bg {width:155px; margin:0; padding:15px 0 15px 45px; list-style:none; line-height:0}
.submenu-bg li {margin:0; padding:10px 0}
.submenu-bg a {display:block; position:relative}
.submenu-bg a:hover:after {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0, 0, 0, .6)}
.submenu-bg img {width:100%}

.submenu-auto {width:155px; margin:0; padding:15px 0 15px 45px; list-style:none; line-height:0}
.submenu-auto li {margin:0; padding:10px 0}
.submenu-auto a {display:block; position:relative}
.submenu-auto img {width:100%}
.submenu-auto span {display:none; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; background:rgba(0, 0, 0, .6); color:#fff; font-weight:bold; font-size:24px; line-height:100px}
.submenu-auto a:hover span {display:block}

.submenu-text {margin:0; padding:15px 0; list-style:none; line-height:0}
.submenu-text li {margin:0; padding:10px 0; text-align:center}
.submenu-text img {position:absolute; left:-9999px; top:-9999px}
.submenu-text img:first-child {position:relative; left:auto; top:auto}
.submenu-text a:hover img {position:relative; left:auto; top:auto}
.submenu-text a:hover img:first-child {position:absolute; left:-9999px; top:-9999px}

.container {display:none; vertical-align:top; padding:80px}
.container.active {display:table-cell}
.content {width:788px; height:526px; margin:0 auto; background:#fff no-repeat center; box-shadow:2px 2px 2px rgba(0, 0, 0, .1); background-size:cover; position:relative; overflow:hidden}
.content .auto {position:absolute; left:0; top:0}
.content .auto img {border:1px dashed #4d4f53}
.content .text {position:absolute; left:0; top:0}
.content .text-message-wrap {padding:25px; border:1px dashed #4d4f53}
.content .text img {border:1px dashed #4d4f53; padding:25px}
.content .text-title {position:absolute; left:25px; top:40px; width:176px; height:20px; color:#4d4f53; font:bold 15px/20px ToyotaDisplay, helvetica, sans-serif; border:none; text-align:center; background:none; margin:0; padding:0; outline:none; -webkit-appearance:none}
.content .text-message {width:240px; height:100px; color:#4d4f53; font:15px/20px ToyotaDisplay, helvetica, sans-serif; border:none; text-align:center; background:none; margin:0; padding:0; outline:none; -webkit-appearance:none; resize:none; overflow:auto}

@media (max-width:1000px) {
    .container {padding:80px 0 160px 0; position:relative}
    .container.active {display:block}
    .content {width:100%; height:100%; background-color:transparent; box-shadow:none; position:absolute; left:0; top:0}
}

.welcome {display:none; vertical-align:middle; padding:80px}
.welcome.active {display:table-cell}
.welcome-inner {width:650px; margin:0 auto; text-align:center}
.welcome-title {color:#d30f37; font-size:44px; line-height:52px; font-weight:bold; text-transform:uppercase}
.welcome-text {color:#4d4f53; font-size:26px; line-height:34px; padding:16px 0 32px 0}
.welcome-link {display:block; width:313px; height:50px; margin:0 auto; color:#fff; text-transform:uppercase; text-align:center; font-weight:bold; font-size:16px; line-height:50px; border-radius:2px; background:#d30f37 url(../images/welcome-link.png)}
.welcome-link:hover {background-position:left -50px; color:#fff}
.welcome-link:active {color:#fff}

.send {display:none}
.send.active {display:table-cell; vertical-align:top; padding:40px 80px 40px 50px}
.send form {margin:0; padding:0}

@media (max-width:1000px) {
    .send.active {display:block; padding:20px}
}

.send-top:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.send-preview {float:left; width:251px}
.send-preview a {display:block; position:relative; line-height:0; box-shadow:2px 2px 1px rgba(0, 0, 0, .1)}
.send-preview img {width:100%}
.send-preview a:after {content:""; display:block; width:29px; height:29px; background:url(../images/send-preview.png); position:absolute; right:0; bottom:0}

@media (max-width:1000px) {
    .send-preview {float:none; width:auto}
}

.send-share {float:left; width:330px; padding:0 0 0 30px}
.send-share-title {font-size:22px; line-height:22px; color:#323232; padding:11px 0 17px 0}
.send-share-link {border:1px solid #d8d8d8; width:100%; box-sizing:border-box; font-size:14px; line-height:48px; height:50px; background:#fff; border-radius:2px; color:#999; padding:0 10px; position:relative; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.send-share-social {font-size:0; line-height:0; letter-spacing:-1px; padding:20px 0 0 0}
.send-share-social img {vertical-align:top; margin:0 10px 0 0}

@media (max-width:1000px) {
    .send-share {float:none; width:auto; padding:0}
}

.send-title {font-size:22px; line-height:22px; color:#323232; padding:35px 0 0 0}

.send-row {margin:0 -5px; position:relative; padding:0 0 7px 0}
.send-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.send-col {float:left; width:33.33%; box-sizing:border-box; padding:0 5px}
.send-subtitle {font-size:16px; line-height:20px; color:#323232; padding:12px 0 0 0}
.send-hint {font-size:13px; line-height:16px; color:#535353; padding:3px 0 7px 0}
.send-input input {display:block; width:100%; height:50px; border:1px solid #d8d8d8; background:#fff; box-sizing:border-box; margin:0; padding:14px 10px; outline:none; font:14px/20px ToyotaDisplay, helvetica, sans-serif; color:#4d4f53; -webkit-appearance:none}
.send-input input::-webkit-input-placeholder {color:#999; opacity:1; text-transform:uppercase}
.send-input input::-moz-placeholder {color:#999; opacity:1; text-transform:uppercase}
.send-input input:-ms-input-placeholder {color:#999; opacity:1; text-transform:uppercase}
.send-input input.error {border-color:#f00}
.send-input label.error {display:none !important}
.send-submit {padding:4px 0 0 0; position:relative}
.send-submit input {display:block; width:100%; height:50px; border:none; text-transform:uppercase; background:#d30f37 url(../images/welcome-link.png); box-sizing:border-box; margin:0; padding:0; text-align:center; cursor:pointer; outline:none; font:bold 14px/50px ToyotaDisplay, helvetica, sans-serif; color:#fff; -webkit-appearance:none}
.send-submit input:hover {background-position:left -50px}
.send-address-add {display:block; width:26px; height:26px; position:absolute; right:-36px; top:-45px; background:url(../images/address-add.png)}
.send-address-add:hover {background-position:left -26px}
.send-address-add span {display:none}

@media (max-width:1000px) {
    .send-row {padding-bottom:0}
    .send-col {float:none; width:auto; padding-bottom:7px}
    .send-address-add {position:relative; right:auto; top:auto; margin:-40px auto 30px auto; width:400px; height:56px; text-align:center; background:url(../images/address-add-mobile.png) no-repeat right center}
    .send-address-add:hover {background-position:right center}
    .send-address-add span {display:block; font-size:24px; line-height:56px; color:#4d4f53}
}

.success {display:none; vertical-align:middle; padding:80px}
.success.active {display:table-cell}
.success-inner {width:650px; margin:0 auto; text-align:center}
.success-title {color:#d30f37; font-size:44px; line-height:52px; font-weight:bold; text-transform:uppercase}
.success-text {color:#4d4f53; font-size:26px; line-height:34px; padding:16px 0 32px 0}
.success-link {display:block; width:313px; height:50px; margin:0 auto; color:#fff; text-transform:uppercase; text-align:center; font-weight:bold; font-size:16px; line-height:50px; border-radius:2px; background:#d30f37 url(../images/welcome-link.png)}
.success-link:hover {background-position:left -50px; color:#fff}
.success-link:active {color:#fff}

.hint {display:none; position:absolute; left:0; top:0; width:100%; height:100%; z-index:10; background:rgba(0, 0, 0, .6) url(../images/hint.png) no-repeat; font-size:18px; line-height:24px; color:#fff; white-space:nowrap}
.hint-1 {position:absolute; left:400px; top:109px}
.hint-2 {position:absolute; left:400px; top:232px}
.hint-3 {position:absolute; left:400px; top:328px}
.hint-4 {position:absolute; left:400px; top:423px}
.hint-5 {position:absolute; left:790px; top:146px}
.hint-6 {display:none; position:absolute; left:150px; top:70px}
.hint-7 {display:none; position:absolute; left:150px; top:480px}

@media (max-width:1000px) {
    .hint {background-image:url(../images/hint-mobile.png); z-index:21}
    .hint-1, .hint-2, .hint-3, .hint-4, .hint-5 {display:none}
    .hint-6, .hint-7 {display:block}
}

.gift-form {display:none}